body{
    font-family:Helvetica, Arial;
}
header{
	float:left;
	clear:both;
}
footer{
	float:left;
	clear:both;
}
.content{
	float:left;
	clear:both;
}
.restaurant{
	width:620px;
	float:left;
	display:block;
}
.restaurant h1{
	font-weight:normal;
	font-size:20px;
	font-family:Verdana;
	line-height:24px;
	font-weight:bold;
}
ul.restaurantDetails{
	float:left;
	display:block;
	list-style-type:none;
	padding-left:0px;
}
ul.restaurantDetails li{
	font-weight:normal;
	font-size:15px;
	font-family:Georgia, Times;
	line-height:20px;
}
ul.restaurantDetails li span{
	font-weight:bold;
	font-family:Verdana;
	font-size:12px;
}
.restaurant img{
	width:240px;
	float:left;
	margin:10px;
	padding-right:10px;
}
.reservationForm{
	width:334px;
	height:380px;
	float:left;
	margin-left:20px;
	display:block;
	background-color: #ffba00;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb400), to(#ffde00));
   background-image: -webkit-linear-gradient(top, #ffb400, #ffde00);
   background-image:    -moz-linear-gradient(top, #ffb400, #ffde00);
   background-image:     -ms-linear-gradient(top, #ffb400, #ffde00);
   background-image:      -o-linear-gradient(top, #ffb400, #ffde00);
   -moz-border-radius: 15px;
 	border-radius: 15px;
 	-moz-box-shadow: 2px 2px 10px #888;
 -webkit-box-shadow: 2px 2px 10px #888;
 box-shadow: 2px 2px 10px #888;
}
.reservationForm form{
	padding:0 15px;
}
.reservationForm input,
.reservationForm select{
	padding: 5px;  
    font-size: 15px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    border: 1px solid #976e00;  
    -webkit-box-shadow: 1px 1px 0px #ffebb6;  
    -moz-box-shadow: 1px 1px 0px #ffebb6;  
    box-shadow:  1px 1px 0px #ffebb6;  
}
.reservationForm input:focus {  
    -webkit-box-shadow: 0px 0px 5px red;  
    -moz-box-shadow: 0px 0px 5px red;  
    box-shadow: 0px 0px 5px red;  
}
.reservationForm h2{
	font-family:Verdana;
	color:white;
	font-size:22px;
	font-weight:bold;
	width:318px;
	display:block;
	border-bottom:1px dotted white;
	padding-left:15px;
	padding-bottom:5px;
}
.reservationForm label{
	font-size:14px;
	font-family:Verdana;
	color:brown;
	margin:5px 0px;
	display:block;
}
#body{
	width:980px;
	margin:20px auto;
}
.bodywrap{
	width:980px;
	background-color: #dcd4bf;
	-webkit-border-radius: 20px;  
    -moz-border-radius: 20px;  
    border-radius: 20px;
    padding:10px;
    float:left;
}
.normalTop{
	background: url("/test2//public/css/images/topNormal.jpg") no-repeat 0px 0px transparent;
	width:1000px;
	padding: 0px 0px;
	margin:20px 0px 10px -10px;
	height:200px;
}
.shopLogo{

}
.ui-accordion-header{
    padding-left:35px;
}
.promotionsList td{
    padding:0px 10px;
}

.promotionsList .promotionPrice{
    font-size:20px;
    color:green;
    font-weight:bold;
}
.productImage img,
.shopImage img{
    float:left;
    margin:0px 10px 10px 0px;
}
.productBlurb{
    margin-top:10px;
    margin-bottom:10px;
}

iframe{
    border:none;
}

body nav{
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px;  
    border-radius: 10px;
    border: 1px solid #D9E0E0;
    float:left;
    width:100%;
    margin:10px 0px;
    font-family:Helvetica, arial;
    font-weight:bold;
}
nav a{
    color:#949494;
    font-size: 15px;
}
nav a:hover,
nav div.navElement:hover a{
    color:#fa7906;
}
a{
    color:black;
}
a:hover{
    color:#fa7906;
}
nav div.navElement:hover{
    background-color: #D9E0E0;
}
nav div.navElement.first{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
header{
    width:100%;
}
nav div.navElement{
    float:left;
    padding:15px;
    border-right: 1px solid #D9E0E0;
}
.sideList{
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
    border: 1px solid #D9E0E0;
    float:left;
    width:100%;
    margin:10px 0px 15px 0px;;
    font-family:Helvetica, arial;

}
.sideList .sideTitle{
    border-bottom: 1px solid #D9E0E0;
    padding:10px 10px 13px 10px;
    font-family:Arial Narrow, Helvetica, Arial;
    font-size:21px;
    color:#fa7906;
}
.sideList a{
    padding:8px;
    border-bottom: 1px solid #D9E0E0;
    display:block;
    background: url(../images/s/plachta.png) no-repeat 100% 0px transparent; 
}
.sideList span{
    padding:8px;
    border-bottom: 1px solid #D9E0E0;
    display:block;
}
.sideList.products a{
    background:none;
}
/*.sideList a:hover{
    background-position:100% -34px;
}*/
.sideList .last{
    border-bottom: none;
}
.sideList .category.parent,
.sideList .category.selected{
    background-color:#ededed;
}
.promotionsList{
    float:left;
    clear:both;
    width:100%;
}
img.similarImg{
    max-width:100px;
}
h1, h2{
    font-family:Arial Narrow, Helvetica, Arial;
}
.clear{
    clear:both;
}
h3.offerDates{
    width:100%;
    margin:10px 0px 10px;
    border-bottom: 1px solid #D9E0E0;
    text-align:left;
    padding-bottom:10px;
}
.promotionItemInOffer{
    float:left;
    width:140px;
    padding:15px;
}
.promotionItemInOffer img{
    max-width:140px;
    margin:0px;
}
.promotionItemInOffer .productImage{
    width:140px;
    height:180px;
    overflow:hidden;
}
.promotionItemInOffer .promotionName{
    width:75px;
    display:block;
    float:left;
}
.promotionItemInOffer .promotionPrice{
    width: 65px;
    float:right;
    font-size:11px;
    text-align:right;
}
.productAgregat{
    float:left;
    
}
.productAgregat .productImage img{
    width:130px;
}
.productAgregat .productImage{
    height: 150px;
    width:130px;
    overflow:hidden;
    float:left;
}
.productSizesList li{
    display:block;
    clear:both;
    margin-bottom:5px;
    float:left;
}
.productSizesList li span{
    display:block;
    float:left;
}
.productSizesList li a{
    display:block;
    float:left;
    margin-right:5px;
}
.productSizesList{
    display:block;
    float:left;
}
.sizeChangeButton{
    padding:4px;
}
a:hover.button,
a.button{
    display:inline;
}
.shopBlurb, .productBlurb{
    float:left;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    border:1px dashed #EDEDED;
    text-align:center;
    align:center;
    margin-top:10px;
}
.shopBlurb .shopImage img,
.productBlurb .productImage img{
    width:136px;
    margin:5px 0px;
}
.shopBlurb .shopImage{
    height:150px;
    overflow:hidden;
    width:140px;
    margin:0px auto;
}
.productBlurb .productImage{
    height:180px;
    overflow:hidden;
    width:140px;
    margin:0px auto;
}
.offerCitiesButton{
    display:block;
    float:right;
}
div.citiesList.alert-box{
    display:none;
}
.offerItem{
    padding:15px 0px;;
}
div.cityChoser.alert-box{
    clear:both;
    margin:20px 0px;
    height:30px;
    overflow:hidden;
}
#cityChooser{
    width:200px;
    float:left;
    margin:0px;
    padding:4px 0px 0px 10px;
}
#cityChooser #cities-label{
    display:none;
}
#showPromotions{
    display:block;
    float:right;
    text-shadow:none;
}
.cityChoser{
    float:left;
    width:100%
}
.cityChoser .citychooserInfo{
    float:left;
    padding-top:6px;
}
.cityChoser h4{
    float:left;
    display:block;
}
#cities-element input{
    height:12px;
    width:300px;
}
#logo{
    margin:30px 10px 15px 5px;
}
.mainColumn{
    margin-top: 15px;
}
.ac_results{
    z-index:3000;
}
#citiesPopup-label{
    display:none;
}
.sgPage h2{
    font-size:22px;
    width:100%;
    border-bottom:1px solid #D9E0E0;
    color: #404040;
}
#productSearch, #shopSearch{
    float:left;
    width:50%;
    margin-top:5px;
}
#productsSearch, #shopsSearch{
    float:right;
    display:block;
}
#products-label, #shops-label{
    display:none;
}
.row:after{
    margin:10px 0px;
}